/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

/* -------------- top row --------------- */
div.dokuwiki .header {
  padding: 28px 0 0 2px;
  height: 10px;
}

div.dokuwiki .pagename {
  float: left;
  font-size: 100%;
  font-weight: bolder;
  color: __black__;
  text-align: right;
  vertical-align: middle;
  width: 50%;
}

div.dokuwiki .pagename a {
  color: __black__ !important;
  text-decoration: none !important;
}

div.dokuwiki .logo {
  float: left;
  font-size: 100%;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  margin-left: 5px;
}

div.dokuwiki .logo a {
  color: __black__ !important;
  text-decoration: none !important;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  padding: 3px 5px 10px 5px;
  clear: both;
}

div.dokuwiki .bar-left {
  float: left;
}

div.dokuwiki .bar-right {
  float: left;
  text-align: right;
}

div.dokuwiki #bar__bottom {
  margin-bottom: 3px;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
  clear: both;
  margin-top: 1em;
  color: __text_alt__;
  font-size: 70%;
}

div.dokuwiki div.meta div.user {
  float: left;
}

div.dokuwiki div.meta div.doc {
  text-align: right;
}
